{% extends "base.html.twig" %}

{% block title %}
	{{ title }} - {{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}
	<div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
    	<table id="results" class="table table-condensed table-striped table-responsive">
    		<thead>
    			<tr>
    				<th>#</th>
    				<th>Date</th>
    				<th>Files #</th>
    			</tr>
    		</thead>
    		
    		<tbody>
				<!--  Diplaying results here -->
    		</tbody>
    		
    		<tfoot>
    			<tr>
    				<td colspan="3">
    					<span id="results-number"></span> results
    				</td>
    			</tr>
    		</tfoot>
    	</table>
    </div>
{% endblock %}