{% extends 'base.html.twig' %}

{% block title %} {{ category.libelle }}- {{ parent() }} {% endblock %}

{% block body %}
	Hello index
    {{ parent() }}
    {% block results %}
    	<div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
        	<header>
        		<h1>Résultats pour la catégorie : {{ category.libelle }}</h1>
        	</header>
        	
        	<table class="table table-responsive table-striped">
        		<thead>
        			<tr>
        				<th>#</th>
        				<th>Date</th>
        				<th>Files #</th>
        			</tr>
        		</thead>
        		
        		<tbody>
        			{% for result in category.getResults() %}
        				<tr>
        					<td>{{ result.id }}</td>
        					<td>{{ result.date|date('Y-m-d') }}
        					<td>{{ result.getFileNumber() }}</td>
        				</tr>
        			{% endfor %}
        		</tbody>
        		
        		<tfoot>
        			<tr>
        				<td colspan="3">
        					Results: {{ category.getResultsSize() }}
        				</td>
        			</tr>
        		</tfoot>
        	</table>
        	
        	{% if between %}
            	{% for result in between %}
            		<p>Date : {{ result.date|date('d-m-Y') }} [{{ result.id }}]</p>
            	{% endfor %}
            {% else %}
            	<p>Aucun résultat retourné</p>
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}
