div.outer-loader{position:absolute;top:0;left:0;height:100%;width:100%;background-color:rgba(128,128,128,.5)}div.outer-loader .inner-loader{position:relative;width:40px;height:40px;top:50%;transform:translateY(50%);margin:0 auto;background:transparent}/*# sourceMappingURL=data-loader.css.map */
