@import './variables.scss', './mixins.scss';

div {
	&.outer-loader {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: $background;
		
		&.silent { // Empêche l'affichage du loader
			display: none;
		}
		
		.inner-loader {
			position: relative;
			width: 40px;
			height: 40px;
			@include vertical-center();
			margin: 0 auto;
			background: transparent;
			
			img {
				display: block;
				height: inherit;
				width: inherit;
			}
		}
	}
}